.card {
    width: 270px;
    height: 218px;
    position: relative;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05); 
    border-radius: 8px;
 }
 
 .card__movie-description {
    display: flex;
    flex-direction: column;
    padding: 14px 12px;
 }
 .card__name-container {
   display: flex;
   justify-content: space-between;
 }
 .card__movie-name {
    font-weight: 500;
    font-size: 13px;
    line-height: normal; 
    color: #000000;
    margin: 0 0 10px 0;
 }
 
 .card__movie-time {
    font-weight: 400;
    font-size: 11px;
    line-height: normal; 
    color: #A0A0A0;
    margin: 0;
 }
 
 .card__button {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../../images/save-icon.svg);
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
 }
 
 .card__button_saved {
    display: none;
    width: 22px;
    height: 22px;
    background-image: url(../../images/saved-icon.svg);
    background-position: center;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
 }
 
 .card__button_delete {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #222222;
    background-image: url(../../images/delete-icon.svg);
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
 }
 
 .card__movie-cover {
    width: 270px;
    height: 151px;
 }
 
 @media screen and (max-width: 910px) {
    .card {
       width: 339px;
       height: 257px;
    }
 
    .card__movie-cover {
       width: 339px;
       height: 190px;
    }
 }
 
 @media screen and (max-width: 450px) {
    .card {
       width: 300px;
       height: 235px;
    }
 
    .card__movie-cover {
       width: 300px;
       height: 168px;
    }
 }