.movies {
    max-width: 1140px;
    margin: 0 auto;
 }
 
 @media screen and (max-width: 800px) {
    .movies {
       padding-left: 30px;
       padding-right: 30px;
    }
 }
 
 @media screen and (max-width: 450px) {
    .movies {
       padding-left: 10px;
       padding-right: 10px;
    }
 }