.portfolio {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0 125px 0;
 }
 
 .portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0;
    padding-bottom: 50px;
 }
 
 .portfolio__links {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin: 0;
    padding: 0;
 }
 
 .portfolio__link-container {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1.2px;
    list-style: none;
    border-bottom: 1px solid #E8E8E8;
    margin: 0;
    padding: 0 0 19px 0;
 }

 .portfolio__link-container:last-child {
   border-bottom: none;
   padding: 0;
}
 
 .portfolio__link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
 }
 
 .portfolio__link:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
 }
 
 @media screen and (max-width: 1200px) {
    .portfolio {
       padding: 0 50px 90px;
    }
 
    .portfolio__link-container {
       font-size: 28px;
       border-bottom: 1px solid #e6e6e6;
    }
 }
 
 @media screen and (max-width: 450px) {
    .portfolio {
       padding: 0 14px 70px;
    }
 
    .portfolio__title {
       font-size: 14px;
       padding-bottom: 40px;
    }
 
    .portfolio__link-container {
       font-size: 18px;
       line-height: 28px;
    }
 }