.register {
    margin: 70px auto;
    max-width: 396px;
    width: 100%;
    display: flex;
    justify-items: center;
    background-color: #FFF;
    flex-direction: column;
}

.register__logo {
    max-width: 38px;
    max-height: 38px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    justify-self: flex-start;
}

.register__logo:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
}

.register__title {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 0;
}

.register__form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.register__form-fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
}

.register__form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.register__form-container:last-child {
margin-bottom: 0;
}

.register__form-label {
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    color: #A0A0A0;
}

.register__form-input {
    height: 46px;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    color: #000;
    border: none;
    border-radius: 8px; 
    background-color: #F9F9F9; 
    padding-left: 15px;
}
.register__form-error {
    color: #FF4062;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    align-self: flex-start;
    margin-top: 10px;
}
.register__form-button {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 91px;
    border: none;
    height: 45px;
    border-radius: 3px;
    background: #000000;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.register__form-button_disabled {
    background: #F8F8F8;
    pointer-events: none;
    color: #C2C2C2;
 }

.register__form-button:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
}

.register__form-question-container {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.register__form-question {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0 6px 0 0;
    color: #A0A0A0;
    text-align: center;
}

.register__form-link {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.register__form-link:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
}


@media screen and (max-width: 768px) {
    .register {
        margin: 232px auto;
    }
}

@media screen and (max-width: 500px) {
    .register {
        margin: 56px auto 30px;
        max-width: 260px;
    }

    .register__logo {
        margin: 0 auto 50px;

    }

    .register__link {
        display: flex;
        align-items: center;
    }

    .register__title {
        text-align: center;
        margin-bottom: 80px;
    }

    .register__form-button {
        margin-top: 179px;
        margin-bottom: 14px;
        font-size: 12px;
    }
    .register__form-question {
        font-size: 12px;
    }
    
    .register__form-link {
        font-size: 12px;
    }
}